<style>  
    table {  
      font-family: arial, sans-serif;  
      border-collapse: collapse;  
      width: 100%;  
    }  
      
   th {  
    border-color: #dfdfdf !important;
    }  
    td {
      border-color: #dfdfdf;
  }
  th {
    height: 50px;
    line-height: 30px;
    font-family: 'Poppins', sans-serif !important;
    font-weight: 600;
}
    tr:nth-child(even) {
      background-color: #f7fbfb;
  }
  td {
    border-left: 1px solid #ddd !important;
}
th {
  border-left: 1px solid #ddd !important;
}
    </style> 
{% extends 'user_navbar.html' %}

{% block title %} Job Lists {% endblock %}
{% block job_list %} active {% endblock %}
{% block css %}
{% endblock %}

{% block body %}
<div class="container mt-4">
<table class="table table-hover" style="border: 1px solid #e5e5e5;" id="example">
    <thead>
        <tr>
            <th>Sr.No</th>
            <th>Company Name</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Location</th>
            <th>Created On</th>
            <th>Apply</th>
        </tr>
    </thead>
    <tbody>
        {% for job in jobs %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{job.company.company_name}}</td>
            <td>{{job.title}}</td>
            <td>{{job.salary}}</td>
            <td>{{job.location}}</td>
            <td>{{job.creation_date}}</td>

            {% if job.id in data %}
            <td><a style="background-color: #00a7ac; color: white;"class="btn btn-success">Applied</a></td>
            {% else %}
            <td><a style="background-color: #00a7ac; color: white;" href="/job_detail/{{job.id}}/" class="btn btn-success">Apply</a></td>
            {% endif %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>



{% endblock %}
