{% extends 'basic.html' %}

{% block title %} User Login Page {% endblock %}
{% block user_login %} active {% endblock %}
{% block css %}
{% endblock %}
{% block body %}
{% load static %}
<form method="POST"> {% csrf_token %}
    <div class="login-page">
        <div class="row">
<div class="col-md-6 slide">
    {% comment %} <img src="https://images.pexels.com/photos/7014337/pexels-photo-7014337.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"> {% endcomment %}
    <img src="\static\pexels-photo-7014337.webp">
</div>
    
    <div class="col-md-6">
        <div class="container mt-5">
<h1>User Login</h1>
            
            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter Username">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password">
            </div>
            {% comment %} <h6>forget password <a href="/forget/">Forget Password</a>
            </h6> {% endcomment %}
            <br>
            <input type="submit" value="Submit" class="btn" style="    background-color: orange;
            color: white;
            font-size: larger;
            width: 8rem;
            border-radius: 30px;">

            <h6 class="p-5">Haven't register yet, then click here <a href="/signup/" type="submit" class="btn" style="background-color: orange; color: white; r">Signup</a>
            </h6>


        </div>
    </div>

</form>
{% endblock %}
{% block js %}
<script>
    {% if thank %}
    alert("Invalid Credentials. Please try again.");
    window.location.href = "/user_login"
    {% endif %}
</script>
{% endblock %}
